

           
<form action="signin" method="POST">
        <div class="container">
            <p>Sign In</p>
            <hr>
{{#each errors}} 
            <div><strong>{{this}}</strong></div>
             {{/each}}
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter email" name="email" id="email" >
         {{#each errors}} 
            <div><strong>{{this}}</strong></div>
             {{/each}}
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id=psw >
            <hr>
         

           
            <button type="submit" class="registerbtn">Sign In</button>

        </div>
        <div class="had">
            <p><a href="#">Forgot password?</a>.</p>
        </div>
    </form>